.App {
  text-align: center;
  
}

.noborder {
  border: none !important;
}

/* semantic ui styles */
.ui.baseline{
  align-items: baseline !important;
}

/* date picker styles */
.react-date-picker__wrapper{
  border: none !important;
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
  padding: 2px !important;
}
.react-date-picker__inputGroup__input{
  min-width: 2rem !important;
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
  border: none !important;
  border-bottom: 1px solid rgba(34,36,38,.15) !important;
  border-radius: 0 !important;
}
.ui.cards {
  justify-content: end !important;
  text-align-last: center !important;
}
.ui.selection.dropdown{
  min-width: 10em !important;
  width: 100% !important;
}
.ui.four.cards>.card {
  width: 14rem !important;
}
@media only screen and (min-width: 1200px) {
  .ui.mini.modal {
    width: 25rem !important;
  }
}
.ui.inverted.menu {
  background: #4b85d1 !important;
  box-shadow: 5px 5px -5px 5px #2f5485 !important;
}


